  {{#each address as |add|}}
  <option class="address" value="test">
  Address: {{add.street}} <br />
  City: {{add.city}}<br />
  State: {{add.state}}<br />
  Zip: {{add.zip}}<br />
  Country: {{add.country}}<br />
  </option>
  {{/each}}
